[submodule "thirdparty/stf_lib"]
	path = thirdparty/stf_lib
	url = https://github.com/sparcians/stf_lib.git
[submodule "thirdparty/DRAMsim3"]
	path = thirdparty/DRAMsim3
	url = https://github.com/umd-memsys/DRAMsim3.git
[submodule "thirdparty/mavis"]
	path = thirdparty/mavis
	url = https://github.com/sparcians/mavis.git
[submodule "thirdparty/ELFIO"]
	path = thirdparty/ELFIO
	url = https://github.com/serge1/ELFIO.git
[submodule "thirdparty/riscv-isa-sim"]
	path = thirdparty/riscv-isa-sim
	url = https://github.com/imarkwang/riscv-isa-sim.git
	branch = dev-mark
[submodule "traces/elf_test/riscv-test-env"]
    path = traces/elf_test/riscv-test-env
    url = https://github.com/riscv/riscv-test-env.git
